<suite name="SanityTest" verbose="1">

<!--    <test name="createContactsTest">-->
<!--        <classes>-->
<!--            <class name="CreateContactTest"/>-->
<!--        </classes>-->
<!--    </test>>-->

<!--    <test name="updateContactsTest">-->
<!--        <classes>-->
<!--            <class name="UpdateContactTest"/>-->
<!--        </classes>-->
<!--    </test>>-->
    <test name="sanity">
    <groups>
        <run>
            <include name="Regression"/>
            <exclude name="Sanity"/>
        </run>
    </groups>
        <classes>
            <class name="CreateContactTest"/>
            <class name="UpdateContactTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>
</suite>